@import "../../../styles/variables";
@import "../../../styles/mixins";

.heading {
  text-align: center;
  margin-top: 30px;
}

.featured {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  overflow: hidden;
  margin: 4rem auto 1rem;
  padding: 0 3rem;
  max-width: 1200px;
  margin-top: 20px;

  @media (min-width: 768px) {
    margin: 4rem auto;
    flex-direction: row;
    align-items: stretch; /* Makes children take full height */
  }
}

.imageWrapper {
  position: relative;
  flex: 1 0 100%;
  min-height: 300px;
  overflow: hidden;
  .badge {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: linear-gradient(to right, $accent-yellow, transparent);
    color: $bg-primary;
    padding: 0.3rem 0.75rem;
    font-weight: 600;
    font-size: 0.85rem;
    border-radius: 8px;
  }

  @media (min-width: 768px) {
    flex: 1 0 10%; /* Take 60% width */
    min-height: auto;
    aspect-ratio: 10/3;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    transition: transform 0.6s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.productInfo {
  position: relative;
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  color: $text-primary;
  @media (max-width: 768px) {
    padding: 2rem 0;
  }
}

.productName {
  color: $text-primary;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2rem 0 0;
}
.description {
  color: $text-muted;
  font-size: 1.2rem;
  font-weight: 300;
}
.stock {
  color: $accent-yellow;
  font-family: $font-mono;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.sizeSelect {
  padding: 0.75rem;
  background: $bg-secondary;
  border: none;
  font-size: 1rem;
  color: $text-primary;
  outline: none;
  margin-bottom: 1rem;
}

.addToCartBtn {
  background: transparent;
  border: 1px solid $accent-yellow;
  color: $accent-yellow;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: $accent-yellow;
    color: black;
  }
}

.shippingInfo {
  font-size: 0.8rem;
  color: $text-muted;
  margin-top: auto;
}
