@import "../../../styles/variables";
@import "../../../styles/mixins";

.imageBanner {
  background-color: transparent;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.mediaWrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
    transition: transform 0.6s ease;
  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: center 20%;
    filter: brightness(0.8);
  }

  @media (max-width: $tablet) {
    height: 130vh;
    width: auto;
    img {
      height: 100%;
    }
  }
}

.bannerContent {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: $text-primary;
  padding: 2rem;
}

.bannerBox {
  max-width: 800px;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  border-radius: $radius-md;
  padding: 4rem 6rem;
  color: $text-primary;
  @media (max-width: 768px) {
    padding: 1rem 1.5rem;
  }
}

.heading {
  font-size: 5rem;
  height: 50%;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  font-family: $font-graffitti;
  span {
    color: $accent-yellow;
    animation: glitch 1.5s infinite;
  }
  @media (max-width: 768px) {
    font-size: 4rem;
  }
}

.subtitle {
  font-size: 1.2rem;
  color: $text-muted;
  margin-bottom: 2rem;
  font-weight: 300;
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttonPrimary {
  background: $accent-yellow;
  color: black;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #ffeaa0;
    transform: translateY(-2px);
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  25% {
    transform: translate(-2px, 2px);
    opacity: 0.8;
  }
  50% {
    transform: translate(2px, -2px);
    opacity: 0.6;
  }
  75% {
    transform: translate(-1px, 1px);
    opacity: 0.4;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
